.container {
    width: 90%;
}

.product {
    width: 280px;
    height: 90px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #eee;
    float: left; /*Lazy Load*/
    font-size: xx-small;
}

.product.processed {
    width: 280px;
    height: 90px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #aaa;
    float: left; /*Lazy Load*/
    font-size: xx-small;
}

.tooltip-inner { width: 300px; }